{{#> layout }}
<main>
    <section>
        <div class="detail-page">
            <h1>{{matchData.firstname}} {{matchData.lastname}}</h1>
            <img src="/uploads/{{matchData.profilepicture}}" alt="">
            <div class="info">
            <p>Age: {{matchData.age}} </p>
            <p>Gender: {{matchData.gender}} </p>
            <p>Looking for: {{matchData.lookingfor}} </p>
            <p><b>Favorite Genres</b></p>
            <ul>
                <li>{{matchData.favoriteBooks.[0]}}</li>
                <li>{{matchData.favoriteBooks.[1]}}</li>
                <li>{{matchData.favoriteBooks.[2]}}</li>
            </ul>
            </div>
                <div id="likeButton">
                    
            <label for="">
                <form action="/like" method="POST" enctype="multipart/form-data">
                <img src="../images/likes.png" alt="likes" width="100px">
                <input class="goButton" type="submit" name="like" value="{{matchData._id}}" />
                </form>

                
            </label>
            </div>
            </form>
        </div>       
    </section>
</main>
{{/layout}}