{{#> layout }}
<main>
    <section>
        <h1> Discover </h1>
        <p>Hi {{user.firstname}}</p>
        <div class="matches">
            {{#each match}}
            <article class="match">
                <img src="/uploads/{{this.profilepicture}}" alt="Profile Picture" width="200">
                <h2>{{this.firstname}} {{this.lastname}}</h2>
                <p><b>Favorite Genres</b></p>
                <ul>
                    <li>{{this.favoriteBooks.[0]}}</li>
                    <li>{{this.favoriteBooks.[1]}}</li>
                    <li>{{this.favoriteBooks.[2]}}</li>
                </ul>
            </article>
            {{/each}}
        </div>
    </section>
</main>
{{/layout}}